To add comments:

Write all your comments here in the cell and change cell type to Markdown!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,2.0,3,4.55, 5,np.nan,6,'7Letters' ,8])

Python is a Language that takes indentation serously!
    Indent correctly
        To get the code right,
    Okay?

In [9]:
import zipfile
import urllib.request
import os

source_url = 'ftp://ftp.nhtsa.dot.gov/GES/GES12/GES12_Flatfile.zip'
zip_name = 'GES12_Flatfile.zip'
cwd = os.getcwd()
dir_path  = os.path.join(cwd, 'GES2012')
zip_path = os.path.join(dir_path, zip_name)

# We'll make a directory for you to play around with,
# then when you're done playing you can just delete the directory
if not os.path.exists(dir_path):
    os.makedirs(dir_path)

# Download the file from GES website if you haven't already
if not os.path.exists(zip_path):
    response = urllib.request.urlopen(source_url)
    with open(zip_path, 'wb') as fh:
        x = response.read()
        fh.write(x)

# Extract all the files from that zipfile
with zipfile.ZipFile(os.path.join(dir_path, zip_name), 'r') as z:
    z.extractall(dir_path)

In [10]:
#See what we just unzipped
os.listdir(dir_path)

['2012GESFlatFileTXT.sas',
 'ACCIDENT.TXT',
 'CEVENT.TXT',
 'DAMAGE.TXT',
 'DISTRACT.TXT',
 'DRIMPAIR.TXT',
 'FACTOR.TXT',
 'GES12_Flatfile.zip',
 'MANEUVER.TXT',
 'NMCRASH.TXT',
 'NMIMPAIR.TXT',
 'NMPRIOR.TXT',
 'PARKWORK.TXT',
 'PERSON.TXT',
 'SAFETYEQ.TXT',
 'VEHICLE.TXT',
 'VEVENT.TXT',
 'VIOLATN.TXT',
 'VISION.TXT',
 'VSOE.TXT']

Let's see how Pandas rolls...!!! Eeeehhaaaaw!

#1 Loding the Data

In [11]:
'''
This is how you comment in Python

'''
import pandas as pd
import numpy as np
import sklearn

cwd = os.getcwd()
dir_path  = os.path.join(cwd, 'GES2012')
input_file_path = os.path.join(dir_path, 'PERSON.TXT')

input_data = pd.read_csv(input_file_path, delimiter='\t')

In [12]:
sorted(input_data.columns)

['AGE',
 'AGE_IM',
 'AIR_BAG',
 'ALC_RES',
 'ALC_STATUS',
 'ATST_TYP',
 'BODY_TYP',
 'CASENUM',
 'DRINKING',
 'DRUGRES1',
 'DRUGRES2',
 'DRUGRES3',
 'DRUGS',
 'DRUGTST1',
 'DRUGTST2',
 'DRUGTST3',
 'DSTATUS',
 'EJECTION',
 'EJECT_IM',
 'EMER_USE',
 'FIRE_EXP',
 'HARM_EV',
 'HOSPITAL',
 'HOUR',
 'IMPACT1',
 'INJSEV_IM',
 'INJ_SEV',
 'LOCATION',
 'MAKE',
 'MAN_COLL',
 'MINUTE',
 'MOD_YEAR',
 'MONTH',
 'PERALCH_IM',
 'PER_NO',
 'PER_TYP',
 'PJ',
 'PSU',
 'PSUSTRAT',
 'P_SF1',
 'P_SF2',
 'P_SF3',
 'REGION',
 'REST_MIS',
 'REST_USE',
 'ROLLOVER',
 'SCH_BUS',
 'SEAT_IM',
 'SEAT_POS',
 'SEX',
 'SEX_IM',
 'SPEC_USE',
 'STRATUM',
 'STR_VEH',
 'TOW_VEH',
 'VEH_NO',
 'VE_FORMS',
 'WEIGHT']

#2: Now that we have the data, we will first start by exploring what we have. The more insights and data undertsandig we have, the better we will be able to work with the data!

In [13]:
input_data.dtypes

CASENUM         int64
VEH_NO          int64
PER_NO          int64
SEX_IM          int64
INJSEV_IM       int64
EJECT_IM        int64
PERALCH_IM      int64
SEAT_IM         int64
AGE_IM          int64
VE_FORMS        int64
WEIGHT        float64
REGION          int64
STRATUM         int64
PJ              int64
PSU             int64
PSUSTRAT        int64
STR_VEH         int64
MONTH           int64
HOUR            int64
MINUTE          int64
HARM_EV         int64
MAN_COLL        int64
SCH_BUS         int64
MAKE          float64
BODY_TYP      float64
MOD_YEAR      float64
TOW_VEH       float64
SPEC_USE      float64
EMER_USE      float64
ROLLOVER      float64
IMPACT1       float64
FIRE_EXP      float64
AGE             int64
SEX             int64
PER_TYP         int64
INJ_SEV         int64
SEAT_POS        int64
REST_USE        int64
REST_MIS        int64
AIR_BAG         int64
EJECTION        int64
DRINKING        int64
ALC_STATUS      int64
ATST_TYP        int64
ALC_RES         int64
DRUGS           int64
DSTATUS         int64
DRUGTST1        int64
DRUGTST2        int64
DRUGTST3        int64
DRUGRES1        int64
DRUGRES2        int64
DRUGRES3        int64
HOSPITAL        int64
P_SF1           int64
P_SF2           int64
P_SF3           int64
LOCATION        int64
dtype: object

In [14]:
input_data.sample

<bound method NDFrame.sample of              CASENUM  VEH_NO  PER_NO  SEX_IM  INJSEV_IM  EJECT_IM  PERALCH_IM  \
0       201210432623       1       1       1          0         0           0
1       201210432623       2       1       2          0         0           0
2       201210432628       1       1       1          1         0           0
3       201210432628       1       2       2          1         0           0
4       201210432628       2       1       2          0         0           0
5       201210432637       1       1       1          0         0           1
6       201210432637       1       2       2          0         0           0
7       201210432654       1       1       2          0         0           0
8       201210432654       1       2       2          0         0           0
9       201210432654       2       1       2          1         0           0
10      201210432654       3       1       2          1         0           0
11      201210432656       1       1       1          2         0           0
12      201210432657       1       1       2          0         0           0
13      201210432657       1       2       1          0         0           0
14      201210432657       2       1       2          0         0           0
15      201210432658       1       1       1          0         0           1
16      201210432662       1       1       1          0         0           0
17      201210432662       1       2       1          1         0           1
18      201210432662       2       1       2          0         0           0
19      201210432666       1       1       1          0         0           0
20      201210432690       1       1       1          0         0           0
21      201210432690       2       1       2          0         0           0
22      201210432697       1       1       2          0         0           0
23      201210432699       1       1       1          0         0           0
24      201210432701       1       1       1          0         0           0
25      201210432701       2       1       1          0         0           0
26      201210432710       1       1       1          0         0           0
27      201210432710       1       2       1          0         0           0
28      201210432710       2       1       1          0         0           0
29      201210432711       1       1       2          1         0           0
...              ...     ...     ...     ...        ...       ...         ...
153047  201299502467       0       2       2          2         8           0
153048  201299502467       1       1       1          0         0           0
153049  201299502477       1       1       1          0         0           1
153050  201299502477       2       1       2          3         0           0
153051  201299502478       1       1       1          0         0           0
153052  201299502505       1       1       1          1         0           0
153053  201299502505       2       1       1          2         0           0
153054  201299502514       0       1       1          2         8           0
153055  201299502514       1       1       2          0         0           0
153056  201299502515       1       1       2          1         0           0
153057  201299502515       2       1       1          0         0           0
153058  201299502516       1       1       1          2         0           0
153059  201299502516       2       1       2          2         0           0
153060  201299502528       1       1       2          1         0           0
153061  201299502528       1       2       1          0         0           0
153062  201299502528       2       1       2          1         0           0
153063  201299502528       2       2       2          1         0           0
153064  201299502528       2       3       2          0         0           0
153065  201299502528       3       1       2          0         0           0
153066  201299502528       3       2       1          0         0           0
153067  201299502528       4       1       2          0         0           0
153068  201299502528       4       2       1          0         0           0
153069  201299502528       4       3       1          0         0           0
153070  201299502534       1       1       2          0         0           0
153071  201299502534       2       1       2          1         0           0
153072  201299502534       3       1       1          0         0           0
153073  201299502540       0       1       2          1         8           0
153074  201299502540       1       1       1          0         0           0
153075  201299502542       1       1       1          0         0           0
153076  201299502542       2       1       1          2         0           0

        SEAT_IM  AGE_IM  VE_FORMS    ...     DRUGTST2  DRUGTST3  DRUGRES1  \
0            11      43         2    ...            0         0        95
1            11      68         2    ...            0         0        95
2            11      67         2    ...            0         0        95
3            13      69         2    ...            0         0         0
4            11      36         2    ...            0         0        95
5            11      48         1    ...            0         0        95
6            13      23         1    ...            0         0         0
7            11      32         3    ...            0         0        95
8            13      32         3    ...            0         0         0
9            11      20         3    ...            0         0        95
10           11      26         3    ...            0         0        95
11           11      89         1    ...            0         0        95
12           11      17         2    ...            0         0        95
13           13      18         2    ...            0         0         0
14           11      32         2    ...            0         0        95
15           11      22         1    ...            0         0        95
16           11      23         2    ...            0         0        95
17           13      26         2    ...            0         0         0
18           11      62         2    ...            0         0        95
19           11      46         1    ...            0         0        95
20           11      57         2    ...            0         0        95
21           11      55         2    ...            0         0        95
22           11      50         1    ...            0         0        95
23           11      60         1    ...            0         0        95
24           11      36         2    ...            0         0        95
25           11      51         2    ...            0         0        95
26           11      24         2    ...            0         0        95
27           13      24         2    ...            0         0         0
28           11      24         2    ...            0         0        95
29           11      40         3    ...            0         0        95
...         ...     ...       ...    ...          ...       ...       ...
153047        0       9         1    ...            0         0         0
153048       11      51         1    ...            0         0        95
153049       11      20         2    ...            0         0        95
153050       11      42         2    ...            0         0        95
153051       11      24         1    ...            0         0         0
153052       11      24         2    ...            0         0        95
153053       11      31         2    ...            0         0        95
153054        0      65         1    ...            0         0         0
153055       11      22         1    ...            0         0        95
153056       11      30         2    ...            0         0        95
153057       11      45         2    ...            0         0        95
153058       11      24         2    ...            0         0        95
153059       11      26         2    ...            0         0        95
153060       11      33         4    ...            0         0        95
153061       13      24         4    ...            0         0         0
153062       11      47         4    ...            0         0        95
153063       23      11         4    ...            0         0         0
153064       13      17         4    ...            0         0         0
153065       11      52         4    ...            0         0        95
153066       13      15         4    ...            0         0         0
153067       11      52         4    ...            0         0        95
153068       13      13         4    ...            0         0         0
153069       21      10         4    ...            0         0         0
153070       11      19         3    ...            0         0        95
153071       11      59         3    ...            0         0        95
153072       11      49         3    ...            0         0        95
153073        0      43         1    ...            0         0         0
153074       11      52         1    ...            0         0        95
153075       11      28         2    ...            0         0        95
153076       11      76         2    ...            0         0        95

        DRUGRES2  DRUGRES3  HOSPITAL  P_SF1  P_SF2  P_SF3  LOCATION
0              0         0         0      0      0      0         0
1              0         0         0      0      0      0         0
2              0         0         5      0      0      0         0
3              0         0         5      0      0      0         0
4              0         0         0      0      0      0         0
5              0         0         0      0      0      0         0
6              0         0         0      0      0      0         0
7              0         0         0      0      0      0         0
8              0         0         0      0      0      0         0
9              0         0         0      0      0      0         0
10             0         0         6      0      0      0         0
11             0         0         0      0      0      0         0
12             0         0         0      0      0      0         0
13             0         0         0      0      0      0         0
14             0         0         0      0      0      0         0
15             0         0         0      0      0      0         0
16             0         0         0      0      0      0         0
17             0         0         0      0      0      0         0
18             0         0         0      0      0      0         0
19             0         0         0      0      0      0         0
20             0         0         0      0      0      0         0
21             0         0         0      0      0      0         0
22             0         0         0      0      0      0         0
23             0         0         0      0      0      0         0
24             0         0         0      0      0      0         0
25             0         0         0      0      0      0         0
26             0         0         0      0      0      0         0
27             0         0         0      0      0      0         0
28             0         0         0      0      0      0         0
29             0         0         5      0      0      0         0
...          ...       ...       ...    ...    ...    ...       ...
153047         0         0         5      0      0      0         1
153048         0         0         0      0      0      0         0
153049         0         0         0      0      0      0         0
153050         0         0         5      0      0      0         0
153051         0         0         0     99     99     99         0
153052         0         0         0      0      0      0         0
153053         0         0         5      0      0      0         0
153054         0         0         5      0      0      0        11
153055         0         0         0      0      0      0         0
153056         0         0         5      0      0      0         0
153057         0         0         0      0      0      0         0
153058         0         0         0      0      0      0         0
153059         0         0         0      0      0      0         0
153060         0         0         0      0      0      0         0
153061         0         0         0      0      0      0         0
153062         0         0         0      0      0      0         0
153063         0         0         0      0      0      0         0
153064         0         0         0      0      0      0         0
153065         0         0         0      0      0      0         0
153066         0         0         0      0      0      0         0
153067         0         0         0      0      0      0         0
153068         0         0         0      0      0      0         0
153069         0         0         0      0      0      0         0
153070         0         0         0      0      0      0         0
153071         0         0         5      0      0      0         0
153072         0         0         0      0      0      0         0
153073         0         0         5      0      0      0        11
153074         0         0         0      0      0      0         0
153075         0         0         0      0      0      0         0
153076         0         0         0      0      0      0         0

[153077 rows x 58 columns]>

In [15]:
input_data.head()

,CASENUM,VEH_NO,PER_NO,SEX_IM,INJSEV_IM,EJECT_IM,PERALCH_IM,SEAT_IM,AGE_IM,VE_FORMS,...,DRUGTST2,DRUGTST3,DRUGRES1,DRUGRES2,DRUGRES3,HOSPITAL,P_SF1,P_SF2,P_SF3,LOCATION
0,201210432623,1,1,1,0,0,0,11,43,2,...,0,0,95,0,0,0,0,0,0,0
1,201210432623,2,1,2,0,0,0,11,68,2,...,0,0,95,0,0,0,0,0,0,0
2,201210432628,1,1,1,1,0,0,11,67,2,...,0,0,95,0,0,5,0,0,0,0
3,201210432628,1,2,2,1,0,0,13,69,2,...,0,0,0,0,0,5,0,0,0,0
4,201210432628,2,1,2,0,0,0,11,36,2,...,0,0,95,0,0,0,0,0,0,0

In [16]:
input_data.tail()

,CASENUM,VEH_NO,PER_NO,SEX_IM,INJSEV_IM,EJECT_IM,PERALCH_IM,SEAT_IM,AGE_IM,VE_FORMS,...,DRUGTST2,DRUGTST3,DRUGRES1,DRUGRES2,DRUGRES3,HOSPITAL,P_SF1,P_SF2,P_SF3,LOCATION
153072,201299502534,3,1,1,0,0,0,11,49,3,...,0,0,95,0,0,0,0,0,0,0
153073,201299502540,0,1,2,1,8,0,0,43,1,...,0,0,0,0,0,5,0,0,0,11
153074,201299502540,1,1,1,0,0,0,11,52,1,...,0,0,95,0,0,0,0,0,0,0
153075,201299502542,1,1,1,0,0,0,11,28,2,...,0,0,95,0,0,0,0,0,0,0
153076,201299502542,2,1,1,2,0,0,11,76,2,...,0,0,95,0,0,0,0,0,0,0

In [18]:
input_data.shape

(153077, 58)

In [20]:
input_data.columns

Index(['CASENUM', 'VEH_NO', 'PER_NO', 'SEX_IM', 'INJSEV_IM', 'EJECT_IM',
       'PERALCH_IM', 'SEAT_IM', 'AGE_IM', 'VE_FORMS', 'WEIGHT', 'REGION',
       'STRATUM', 'PJ', 'PSU', 'PSUSTRAT', 'STR_VEH', 'MONTH', 'HOUR',
       'MINUTE', 'HARM_EV', 'MAN_COLL', 'SCH_BUS', 'MAKE', 'BODY_TYP',
       'MOD_YEAR', 'TOW_VEH', 'SPEC_USE', 'EMER_USE', 'ROLLOVER', 'IMPACT1',
       'FIRE_EXP', 'AGE', 'SEX', 'PER_TYP', 'INJ_SEV', 'SEAT_POS', 'REST_USE',
       'REST_MIS', 'AIR_BAG', 'EJECTION', 'DRINKING', 'ALC_STATUS', 'ATST_TYP',
       'ALC_RES', 'DRUGS', 'DSTATUS', 'DRUGTST1', 'DRUGTST2', 'DRUGTST3',
       'DRUGRES1', 'DRUGRES2', 'DRUGRES3', 'HOSPITAL', 'P_SF1', 'P_SF2',
       'P_SF3', 'LOCATION'],
      dtype='object')

In [26]:
input_data.describe()

,CASENUM,VEH_NO,PER_NO,SEX_IM,INJSEV_IM,EJECT_IM,PERALCH_IM,SEAT_IM,AGE_IM,VE_FORMS,...,DRUGTST2,DRUGTST3,DRUGRES1,DRUGRES2,DRUGRES3,HOSPITAL,P_SF1,P_SF2,P_SF3,LOCATION
count,1.530770e+05,153077.000000,153077.000000,153077.000000,153077.000000,153077.000000,153077.000000,153077.000000,153077.000000,153077.000000,...,153077.0,153077.0,153077.000000,153077.0,153077.0,153077.000000,153077.000000,153077.000000,153077.000000,153077.000000
mean,2.012372e+11,1.478530,1.408938,1.434539,0.658107,0.465119,0.033277,12.388393,36.411479,1.991116,...,0.0,0.0,36.940781,0.0,0.0,1.242368,0.822540,0.569772,0.569772,0.295119
std,2.856141e+07,0.744841,0.884132,0.495698,1.060698,1.861087,0.179361,5.140169,18.591070,0.839858,...,0.0,0.0,105.800832,0.0,0.0,2.269444,8.663603,7.488869,7.488869,2.601399
min,2.012104e+11,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.012177e+11,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,11.000000,22.000000,2.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.012281e+11,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,11.000000,33.000000,2.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.012297e+11,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,13.000000,50.000000,2.000000,...,0.0,0.0,95.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.012995e+11,20.000000,28.000000,2.000000,6.000000,8.000000,1.000000,55.000000,112.000000,20.000000,...,0.0,0.0,999.000000,0.0,0.0,9.000000,99.000000,99.000000,99.000000,99.000000

In [25]:
input_data.index
input_data.values

RangeIndex(start=0, stop=153077, step=1)